/* slider  */

.carosuel-item{
    height:100vh;
    min-height: 200px;
    background: no-repeat scroll center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    background: black;
    opacity: 0.7;
}

.carousel-caption{
    bottom:50px;
    padding-left:100px;
    padding-right:100px;
}
.carousel-caption h5{
    font-size:30px;
    font-weight:400px;
}
.carousel-caption p{
    font-size:18px;
    top:2rem;
}

.btn-pos{
    bottom: 50px;
    margin-right: 500px;
    margin-left: 300px;
    margin-top:80px;
    padding-right: 40px;
    padding-left: 40px;
}


